@charset "utf-8";
.espacio{
    height: 80px;
    background-color: black;
    box-sizing: content-box;
    border-collapse: separate;
    text-decoration: none;
}
.contenedor{
    display: flex;
}
.boton1{
    color: white;
    background-color: black;
    font-style: normal;
    /* margin-top: 10px; */
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}
.boton1:hover{
    background-color: green;
}
.boton1:disabled,
.boton1[disabled]{
    background-color: gray;
    cursor: initial;
}
p{
    background-color: aqua;
    padding: 20px;
    border: 2px solid black;
    /* height: 20px; */
    margin: 0;
}
#publicaciones{
    display: flex;
    flex-wrap: wrap;
}
.publicacion{
    border: 2px solid red;
    display: inline-block;
}
.publicacion p{
    padding: 5px;
    font-size: 20px;
    background-color: black;
    color: white;
}
.publicacion img{
    width: 300px;
    display: block;
    display: inline-block;

}
.publicacion .detail{
    width: 400px;
    display: block;
    /* display: inline-block; */

}