<!DOCTYPE html>
<html lang="es-ar" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="gestor mercado libre de Cristian Aspi">
    <meta name="keywords" content="API, NodeJs, Mercado Libre, SDK, meli, integration, e-commerce">
    <title>Gestor de productos de Cristian Aspi</title>
    <link rel="icon" href="favicon.png" type="img/png">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div class="espacio">
        <a class="logo" href="#"><img src="logo-developers.png" alt=""></a>
    </div>
    <div class="contenedor">
        <button class="boton1" onclick="autentica();">pide code</button>
        <!-- <button class="boton1" id="pidecode" onclick="iniciar();" disabled>pide key</button> -->
        <button class="boton1" id="pidekey" onclick="pedirkeyorefresh();" disabled>pide key</button>
        <button class="boton1" id="pidekeyrefresh" onclick="pedirRefreshToken();" disabled>pide key refresh</button>
        <button class="boton1" onclick="pidodatosdeservidor();">recupero_datos</button>
        <button class="boton1" onclick="vertodo();">ver todo</button>
    </div>
    <div class="contenedor">
        <!-- <button class="boton1" onclick="publicar1();">publicar 1</button> -->
        <button class="boton1" onclick="actualizar();">actualiza precio, stock y stock en espera</button>
        <button class="boton1" onclick="listar();">lista total</button>
        <button class="boton1" onclick="mostrar_1_producto();">mostrar 1 item</button>
        <button class="boton1" onclick="activar_stock_espera();">activar stock en espera de un producto</button>
    </div>
    <div class="contenedor"><p id="info"></p></div>
    <div class="contenedor"><p id="infotodo"></p></div>
    <div class="contenedor"><p id="infonuevotoken"></p></div>
    <div style="border: 2px solid black; padding-left: 10px;">
        <h2>ejercicio 3 para modificar datos</h2>
        <input placeholder="ingresa ISBM" id="campoisbm" type="text">
        <input placeholder="ingresa nuevo stock" id="campostock" type="number">
        <input placeholder="ingresa nuevo precio" id="campoprecio" type="text">
        <button class="boton1" onclick="buscaycambia();">con ISBM</button>
    </div>
    <div style="border: 2px solid black; padding-left: 10px;">
        <h2>planeamiendo de extraccion de datos de excel</h2>
        <!-- <input placeholder="ingresa ISBM" id="campoisbm" type="text"> -->
        <!-- <input placeholder="ingresa nuevo stock" id="campostock" type="number"> -->
        <!-- <input placeholder="ingresa nuevo precio" id="campoprecio" type="text"> -->
        <button class="boton1" onclick="pedirexcel();">mostrar datos de excel</button>
        <button class="boton1" onclick="variable();">mostrar variable</button>
    </div>
    <div style="border: 2px solid black; padding-left: 10px;">
        <h2>testeo de funcion</h2>
        <!-- <input placeholder="ingresa ISBM" id="campoisbm" type="text"> -->
        <!-- <input placeholder="ingresa nuevo stock" id="campostock" type="number"> -->
        <!-- <input placeholder="ingresa nuevo precio" id="campoprecio" type="text"> -->
        <button class="boton1" onclick="listatotal();">listar todo</button>
        <button class="boton1" onclick="listatotal2();">listar todo 2</button>
        <button class="boton1" onclick="mostra();">listar todo 2</button>
    </div>
    <h1 id="titulopublicaciones">Publicaciones: </h1>
    <div class="contenedor" id="publicaciones">
    </div>
    <div style="border: 2px solid black; padding-left: 10px;">
    <form id="fo" action="/recibo" method="GET">
        <input type="text" id="campo1" name="te" placeholder="pon tu nombre">
        <input type="text" id="campo1" name="tilaro" placeholder="pon tu nombre">
        <!-- <input type="button" onclick="enviar()" value="enviar datos"> -->
        <button class="boton1" type="submit">recibo_form</button>
        <!-- <input type="submit" value="envia algo"> -->
    </form>
    </div>
    <div class="header">
        <div>
            <h1>Getting Started with Mercado Libre's NodeJs SDK</h1>
            <h2>Official NodeJs SDK for Mercado Libre's API.</h2>
        </div>
    </div>

<main class="container">
    <h3>Hi, Developer!</h3>
    <p>This is a sample app, deployed to Heroku with Mercado Libre's NodeJs SDK. Feel free to use it as a base, to start building your awesome app!</p>

<div class="row">
    <h3>Your Credentials</h3>
    <div class="row-info col-sm-3 col-md-3">
        <b>App_Id: <%= client_id %></b>
    </div>
    <div class="row-info col-sm-3 col-md-3">
        <b>Secret_Key: <%= secret_key %></b>
    </div>
    <div class="row-info col-sm-3 col-md-3">
        <b>Redirect_URI: <%= redirect_uri %></b>
    </div>
    <div class="row-info col-sm-3 col-md-3">
        <b>Site_Id: <%= site_id %></b>
    </div>
</div>
<hr>
</main>
</body>
<script src="js.js"></script>

</html>